body { font-size: 62.5%; }
label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
fieldset { padding:0; border:0; margin-top:25px; }
h1 { font-size: 1.2em; margin: .6em 0; }
div#alarm-contain { width: 80%; margin: auto auto; }
div#alarm-contain table { margin: auto auto; border-collapse: collapse; width: 100%; }
div#alarm-contain table td, div#alarm-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
.ui-dialog .ui-state-error { padding: .3em; }
.ui-menu { width: 300px; }
.ui-icon-alert { float: left; margin-right: .3em; }
div#status-banner { padding: 0px 0px 16px 0px; display: none; }
div#radioType { margin-bottom: 12px; }
div#op_period { margin-bottom: 12px; display: none; }
div#op_sound { margin-bottom: 12px; }
div#req_action { margin-bottom: 12px; }
.hidden { display:none; }
.combo { width: 300px; }
